<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"> 
	<head>
		<meta charset="UTF-8">
		<title>Edit product</title>
	</head>
	<body>
		<div>
			<form th:action="@{/shop/{id}(id=${product.getId})}" th:object="${product}" th:method="post">
				<label for="name">Enter name</label>
				<input type="text" th:field="*{name}" id="name">
				<br/>
				<label for="cost">Enter price</label>
				<input type="number" th:field="*{cost}" id="cost">
				<br/>
				<label for="party">Enter group</label>
				<input type="text" th:field="*{party}" id="party">
				<br/>
				<input type="submit" value="Edit">
			</form>
		</div>		
	</body>
</html>