<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
 <head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> 
 </head>
<body>		
	<!-- создание товара -->
	<div>	
		<form th:action="@{/shop/new}"  th:object="${product}" th:method="post">
			<label for="name">Enter name</label>
			<input type="text" th:field="*{name}" id="name"/>	
		 	<br />
			<label for="cost">Enter price</label>
			<input type="text" th:field="*{cost}" id="cost"/>	
			<br/>
			<label for="party">Enter group</label>
			<input type="text" th:field="*{party}" id="party"/>	
			<br></br> 
			<input type="submit" class="c" value="Create Product">
		</form>
	</div>	
</body>
</html>